@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #1A310F;
  overflow: hidden;
  padding: 10px 14px;
  z-index: 10;
}
.navbar__link {
  float: right;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 30px;
  justify-content: space-around;
  align-items: center;
}
.navbar__link:hover {
  background-color: #ddd;
  border-radius: 30px;
  color: black;
}
.navbar__title {
  color: #f2f2f2;
  padding: 14px 16px;
  float: left;
  font-size: 1.25em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar #toggler {
  display: none;
}

.navbar .toggler-icon {
  font-size: 3rem;
  color: #E5E3D9;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  html {
    font-size: 70%;
  }
  .navbar {
    padding: 10px 14px;
  }
}
@media (max-width: 768px) {
  .navbar .toggler-icon {
    display: block;
  }
  .navbar__links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #7a766b;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
  }
  .navbar #toggler:checked ~ .navbar__links {
    transform: scaleY(1); /* afisez meniul cand toggler-ul este activat */
  }
  .navbar__links .navbar__link {
    margin: 1.3rem;
    padding: 1.3rem;
    border-radius: 25px;
    background: #1a310f;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
.container {
  background: #E5E3D9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.content {
  position: relative;
  margin-top: calc(3% + 90px);
  margin-bottom: calc(3% + 30px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
  background-image: url("cannabis.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(242, 242, 242, 0.96);
  text-align: left;
  overflow: auto;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
}

.box {
  background-color: rgba(255, 255, 255, 0.3);
  width: 200px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}
.box:hover {
  transform: scale(1.1);
}
.box__link {
  text-decoration: none; /* Elimină sublinierea */
  color: inherit;
}
.box__img {
  width: 200px;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}
.box__text {
  align-content: end;
  text-align: end;
}

.imagine-home {
  display: block;
  margin: 3% auto;
  border-radius: 15px;
  border: 3px solid black;
  height: auto;
  width: 50vw;
  object-fit: cover;
}

.container_item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding-top: 100px;
}

.container_item img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.container_item .details {
  flex-grow: 1;
}

.details h2 {
  margin: 0;
  color: #333;
}

.details p {
  margin: 5px 0;
  color: #666;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  width: 100%;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
}

.footer-col {
  flex: 1;
  margin-bottom: 40px;
}

.footer-col h4 {
  margin-bottom: 20px;
}

.links li {
  margin-bottom: 10px;
}

.links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.links li a:hover {
  color: #ccc;
}

.icons {
  margin-top: 20px;
}

.fa-brands {
  font-size: 24px;
  margin-right: 10px;
}

/* Form Styling */
.footer form {
  display: flex;
  flex-direction: column;
}

.footer form input[type=text] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.footer form button[type=submit] {
  padding: 10px 15px;
  background-color: #5cb85c;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer form button[type=submit]:hover {
  background-color: #4cae4c;
}


#contactForm {
  margin-top:200px;
  height: 400px;
  width: 70%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#contactForm h1 {
  text-align: center;
  margin-bottom: 20px;
}
#contactForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

#contactForm input[type="text"]:focus,
#contactForm input[type="email"]:focus,
#contactForm textarea:focus {
  border-color: #1A310F;
  outline: none;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

#contactForm button[type="submit"] {
  padding: 12px 20px;
  background-color: #167707;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contactForm button[type="submit"]:hover {
  background-color: #0C1A07;
}

.campaign {
  margin-top: 100px;
  margin-left: 40px;
}
.campaign-title {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.campaign-description,
.campaign-section-description {
  color: #666;
  line-height: 1.6em;
}

.campaign-section-title {
  color: #333;
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 20px;
}

.campaign-list {
  list-style-type: disc;
  margin-left: 20px;
}



/*# sourceMappingURL=style.css.map */
