body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container_item {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  margin: calc(3% + 90px) 40px;
  padding: 4vh;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image_sub_container {
  justify-content: space-around;
}

.item-image {
  /* spatiul de jos dintre imagine si detaliile elementului */
  margin-bottom: 100px;
}

.item-description {
  font-size: 16px; /* marimea fontului pentru descriere */
  color: #333; /* culoarea textului pentru descriere */
}

.details {
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 100px;
}

.item-name {
  order: -1;
}

/* generare button */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.text-button {
  background-color: #1A310F;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 25px;
}

.text-button:hover {
  background-color: #70bad9;
}

/* partea de grafice */
.graficLinie {
  width: 100%;
  height: 100%;
}

.grafic-container {
  width: 75%;
  height: 100%;
  border: 2px solid rgb(75, 192, 192);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(75, 192, 192, 0.5);
  margin: 0 auto;
}

/* buton de selectare ani */
.slider-container {
  width: 80%;
  margin: 50px auto;
  position: relative;
}

.year-markers {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.year-marker {
  font-size: 12px;
  color: #555;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  background: #f0f0f0;
  outline: none;
  border-radius: 15px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: rgb(75, 192, 192);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#selectedYear {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.table-data{
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
  border-collapse: collapse;

  thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #ddd;
  }

  tbody td {
    padding: 10px 15px;
    border: 1px solid #ddd;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  th,td{
    border: 1px solid #ddd;
  }

  .header-container {
    padding-right: 20px; /* Spațiul dintre text și săgeată */
    position: relative; /* Păstrează poziția relativă pentru săgeată */
    cursor: pointer; /* Indicator de cursor pentru elementele sortabile */
  }

}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.tablinks {
  background-color: #f1f1f1;
  color: #333;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  outline: none;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #167707;
  color: white;
}

.sort-arrow {
  position: absolute;
  right: 1px;
  display: inline-block;

}

.sort-arrow.asc::after {
  content: '▲';
}

.sort-arrow.desc::after {
  content: '▼';
}

.container-map {
  max-width: 100%;
  height: auto;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.map-image{
  margin-left: 20%;
}

.export-format {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
}

.slider-container-map {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.sliderMap {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.sliderMap:hover {
  opacity: 1;
}

.sliderMap::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.sliderMap::-webkit-slider-thumb:hover {
  background: #45a049;
}

.sliderMap::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.sliderMap::-moz-range-thumb:hover {
  background: #45a049;
}

.year-markers-map {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  width: 100%;
  padding: 0 10px;
}

.year-marker-map {
  font-size: 12px;
  color: #666;
}

#selectedYearMap {
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}



/*# sourceMappingURL=style_element_pagina.css.map */
