.hidden {
    display: none;
}
#info-container {
    margin-top: 20px;
    text-align: center;
}
svg path {
    cursor: pointer;
    transition: fill 0.3s;
}
svg path:hover {
    fill: #aaa;
}

#map-container {
    max-width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
}

#tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 10;
}

